* {
	box-sizing: border-box;
	margin: 0% padding 0%;
	font-family: "Playfair Display", serif;
	background-color: #18191d;
	text-decoration: none;
	--LightPurple: rgb(205, 141, 248);
	--Purple: #a230ec;
	--Blue: #498ca6;
	--RoyalBlue: #001ca1;
	--DarkGrey: #18191d;
}

/* navigation section */

/* properties for logo */

header {
	display: flex;
}

.Logo {
	cursor: pointer;
	margin-right: auto;
	padding: 1em;
	color: var(--LightPurple);
	text-transform: uppercase;
	letter-spacing: 5px;
	font-size: 28px;
}

/* properties for navigation */
.nav_links {
	display: flex;
	justify-content: right;
	align-items: center;
	padding: 30px, 10%;
	min-height: 8vh;
	font-size: 18px;
}

.nav_links li {
	display: inline-block;
}

.nav_links li a {
	transition: all 0.3s ease 0s;
	padding: 30px;
	color: var(--LightPurple);
	cursor: pointer;
}

.nav_links:hover li a {
	color: var(--Purple);
	text-decoration: underline;
}

/* properties for menu icon */
.burger {
	display: none;
	cursor: pointer;
}

.burger div {
	width: 25px;
	height: 3px;
	background-color: #a230ec;
	margin: 5px;
	border-radius: 3px;
}

/* responsive design elements */

@media screen and (max-width: 1024px) {
	.nav_links {
		width: 60%;
	}
}

@media screen and (max-width: 768px) {
	body {
		overflow-x: hidden;
	}
	.nav_links {
		position: absolute;
		right: 0px;
		height: 92vh;
		top: 6vh;
		background-color: var(--DarkGrey);
		display: flex;
		flex-direction: column;
		align-items: right;
		width: 50%;
		transform: translateX(100%);
		transition: transform 0.5s ease-in;
	}
	.nav_links li {
		opacity: 100;
		display: flex;
	}
	.burger {
		display: block;
		cursor: pointer;
	}
	.holding_container {
		flex-direction: column;
	}
	.holding_container img {
		width: 50%;
	}
	.about_me_holding img {
		width: 50%;
	}
	.holding_container_movie {
		display: flex;
		justify-content: center;
		flex-direction: column;
	}
}

.nav-active {
	transform: translateX(0%);
}

@keyframes navLinkFade {
	transform: translateX (0px);
}

/* main section */

h1 {
	font-size: 28px;
	font-weight: bold;
	color: var(--Purple);
	padding: 10px;
	text-decoration: underline;
	display: flex;
	justify-content: center;
}

/* projects section */

.repository_link {
	color: var(--Purple);
	font-size: medium;
}

.repository_link:hover {
	cursor: pointer;
	text-decoration: underline;
}

.main_content {
	max-width: 100rem;
	margin-inline: auto;
}
.card {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.card_content {
	display: flex;
}

.card_title {
	font-size: 18px;
	text-align: center;
}

.card_title_movie {
	font-size: 18px;
	text-align: center;
	margin: none;
}

.card_title_galleria {
	font-size: 18px;
	text-align: center;
	margin-bottom: 50px;
}

.card_description {
	color: var(--Blue);
	font-size: 14px;
	font-style: normal;
	text-align: center;
	margin-bottom: 40px;
}

.small_card_description {
	margin-bottom: 80px;
	text-align: center;
}

.image_large {
	display: flex;
	border-radius: 15px;
	width: 100%;
	border: solid 7px transparent;
}

.image_large:hover {
	cursor: pointer;
	border-color: var(--Purple);
}

.holding_container {
	width: 100%;
	display: flex;
	align-items: center;
	margin-bottom: 100px;
}

.holding_container img {
	max-height: 510px;
}

.holding_container_movie {
	display: flex;
	justify-content: center;
}

.holding_container_movie img {
	max-height: 510px;
}

.internalcontainer1 {
	font-size: 14px;
	font-weight: bold;
	color: var(--Blue);
}

.internalcontainer2 {
	font-size: 14px;
	font-weight: bold;
	color: var(--Blue);
}

.internalcontainer3 {
	font-size: 14px;
	font-weight: bold;
	color: var(--Blue);
}
.internalcontainerL {
	flex: 1;
	padding: 30px;
	font-size: 14px;
	font-weight: bold;
	color: var(--Blue);
}

.internalcontainerR {
	flex: 1;
	padding: 30px;
	font-size: 14px;
	font-weight: bold;
	color: var(--Blue);
}

a {
	color: var(--Blue);
}
.succulents {
	margin: 10px;
	border-radius: 15px;
	border: solid 7px transparent;
}

.succulents:hover {
	cursor: pointer;
	border-color: var(--Purple);
}

.Lingui {
	margin: 10px;
	border-radius: 15px;
	border: solid 7px transparent;
}

.Lingui:hover {
	cursor: pointer;
	border-color: var(--Purple);
}

/* About Me Section */

.about_me_holding {
	display: flex;
	justify-content: center;
	flex-direction: column;
	align-items: center;
}

.about_me {
	display: flex;
	justify-content: center;
	flex-direction: column;
	font-size: 14px;
	font-weight: bold;
	color: var(--Blue);
	text-align: center;
	padding: 30px;
	margin-bottom: 20px;
}

.resume_download {
	font-size: medium;
	color: var(--Purple);
}

.resume_download:hover {
	cursor: pointer;
	text-decoration: underline;
}

/* Portrait image properties */
.image {
	width: 20%;
	height: 20%;
	border-radius: 15px;
}

/* footer section */

footer {
	margin: 0.5%;
	display: flex;
	justify-content: center;
	align-items: center;
	color: var(--LightPurple);
}

h2 {
	padding: 3%;
	color: var(--Purple);
	font-size: 20px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.Modal-btn {
	margin-left: 40px, 40px;
	padding: 10px 30px;
	font-size: 18px;
	background-color: var(--RoyalBlue);
	color: white;
	border: none;
	cursor: pointer;
	transition: all 0.3s ease 0s;
	border-radius: 10px;
}

h3 {
	display: flex;
	justify-content: center;
	font-size: 14px;
	font-weight: bold;
	color: var(--Blue);
}

/* modal pop-up section */

.Modal-btn:hover {
	background-color: var(--Purple);
}

.modal-bg {
	position: fixed;
	width: 100%;
	height: 100vh;
	top: 0;
	left: 0;
	background-color: rgba(0, 0, 0, 0.5);
	display: flex;
	justify-content: center;
	align-items: center;
	visibility: hidden;
	opacity: 0;
	transition: visibility 0s opacity 0.5s;
}
.bg-active {
	visibility: visible;
	opacity: 1;
}

.modal {
	position: relative;
	background-color: var(--DarkGrey);
	color: var(--LightPurple);
	width: 30%;
	height: 50%;
	display: flex;
	justify-content: space-around;
	align-items: center;
	flex-direction: column;
	border-radius: 20px;
}
.modal button {
	padding: 10px 30px;
	background-color: var(--Purple);
	color: white;
	border: none;
	cursor: pointer;
	border-radius: 10px;
}
.modal-close {
	position: absolute;
	top: 10px;
	right: 10px;
	font-weight: bold;
	cursor: pointer;
}
